<h2>Edit Trip <%= @trip.id %></h2>

<%= form_with model: @trip do |f| %>
  
  <%= f.label :date, "Date" %>
  <%= f.date_select :date, selected_value: @trip.date %>

  <%= f.label :rating, "Rating" %>
  <%= f.number_field :rating, min: 1.0, max: 5.0, step: 1 %>

  <%= f.label :cost, "Cost" %>
  <%= f.number_field :cost %>
  
  <%= f.label :passenger_id, "Passenger" %>
  <%= f.collection_select :passenger_id, Passenger.all, :id, :name %>

  <%= f.label :driver_id, "Driver" %>
  <%= f.collection_select :driver_id, Driver.all, :id, :name %>

  <%= f.submit "Update Trip" %>
  
<% end %>