<h2> <%= @passenger.name %> <h2>

<p> Phone: <%= @passenger.phone_num %> </p>

<%= button_to "Request Trip", passenger_trips_path(@passenger.id) %>

<%= link_to "Edit", edit_passenger_path(@passenger.id) %>
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: "Are you sure you want to delete this passenger?"} %>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% @passenger.trips.each do |trip| %>
    <% if trip.driver_id %>
      <% driver = Driver.find(trip.driver_id) %>
    <% end %>
    <tr>
      <td>trip.id</td>
      <td><%= trip.date %></td>
      <% if trip.driver_id %>
        <td><%= link_to "#{driver.name}", driver_path(driver.id) %></td>
      <% else %>
        <td>Driver no longer exists</td>
      <% end %>
      <td><%= "$""#{trip.cost/100.00}" %></td>
      <td><%= trip.rating %></td>
      <td>Delete</td>
      <td>Edit</td>
    </tr>
  <% end %>
</table>
