<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <h1><%= link_to "Ada Rideshare", root_path%></h1>
        <nav>
          <ul>
            <li class="nav-labels">Drivers
              <ul>
                <li>
                  <%= link_to "Driver List", drivers_path%>
                </li>
                <li>
                  <%= link_to "Add a Driver", new_driver_path%>
                </li>
              </ul>
            </li>
            <li class="nav-labels">Passengers
              <ul>
                <li>
                  <%= link_to "Passenger List", passengers_path%>
                </li>
                <li>
                  <%= link_to "Add a Passenger", new_passenger_path%>
                </li>
              </ul>
            </li>
            <li class="nav-labels">Trips
              <ul>
                <li>
                  <%= link_to "Trip List", trips_path%>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
